*,*::after,*::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.ocultar, #ocultar{
    display: none;
    opacity: 0;
}

main, nav{flex-grow: 1;}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #2c3e50;
    background-color: #f4f6f8;
    text-align: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: auto;
}

#header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(255, 48, 41);
    height: 16vh;
    
    #placehold-img, #placehold{height: 100%; width: auto;}

    nav ul{
        display: flex;
        justify-content: space-evenly;
        gap: 0 30px;
        
        li, a{
            list-style-type: none;
            text-decoration: none;
            color: white;
            font-weight: bold;
            transition: all 0.6s;
        }
    }

    li:hover{transform: scale(1.1);}
}

#boton-paginas, #boton-regresar{
    button{
        padding: 1.5%;
        background-color: rgb(255, 48, 41);
        border-radius: 100px;
        color: white;
        font-weight: bold;
        transition: all 0.4s;
        font-size: 1.3rem;
    }

    button:hover{
        background-color: rgb(235, 43, 36);
    }
}

#boton-paginas{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-block: 2%;
    gap: 0 50px;
}

#boton-regresar{
    height: 15vh;
    flex-grow: 1;

    #regresar{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        flex-grow: 1;
    }

    #b-regresar{
        width: 7vw;
        height: 50%;
    }
}

#paginas{
    display: flex;
    flex-direction: column;
    padding-block: 4%;
    gap: 40px 0;

    #pagina1, #pagina2{display: flex; flex-direction: column; gap: 30px 0; margin-inline: 7%; padding: 2% 5% 2% 5%; background-color: rgba(255, 48, 41, 0.95); border-radius: 30px;}
    #sec-p1, #sec-p2{display: flex; gap: 0 100px; align-items: center;}
    #p2-section1{display: flex; flex-direction: column; gap: 40px 0;}
    #p2-section2{display: flex; align-items: center;}
    h2, p{color: white; font-weight: bold;}
}

#footer{
    background-color: rgb(235, 43, 36);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-block: 2%;
    gap: 20px 0;

    #redes-sociales{
        display: flex;
        flex-direction: column;
        gap: 15px 0;
        flex-grow: 1;
        
        #redes{display: flex; flex-direction: column; justify-content: center;}
        #redes-h3{font-size: 1.4rem; color: white; font-weight: bold}
    }

    ul{display: flex; flex-direction: column; gap: 20px 0;}

    li, a{
        display: flex;
        align-items: center;
        list-style-type: none;
        text-decoration: none;
        justify-content: center;
        color: white;
        gap: 0 10px;
    }

    #facebook a{
        display: flex;
        transition: 0.7s;
        width: 60%;
        svg{width: 2.1vw; transition: 0.7s;}
        h4{margin: 0 0 0 5%; align-content: center; font-size: 1.25rem; transition: 0.7s;}
    }

    #instagram a{
        display: flex;
        transition: 0.7s;
        width: 66%;
        svg{width: 2.1vw; transition: 0.7s;}
        h4{margin: 0 0 0 5%; align-content: center; font-size: 1.25rem; transition: 0.7s;}
    }

    #tiktok a{
        display: flex;
        transition: 0.7s;
        width: 50%;
        svg{width: 1.8vw; transition: 0.7s;}
        h4{margin: 0 0 0 5%; align-content: center; font-size: 1.25rem; transition: 0.7s;}
    }
}